@import "helpers/variables";

html {
    body {
        background: $white;
        color: $dark-gray;
        font-family: Lato, sans-serif;

        .container {
            display: block;
            width: 600px;
            margin: 100px auto 0;

            button {
                background: none;
                border: 0px;
                color: $medium-gray;
                font-size: 15px;
                width: 60px;
                margin: 10px 0 0;
                cursor: pointer;

                &:hover {
                    color: $dark-gray;
                }
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    overflow: hidden;
                    padding: 20px 0px;
                    border-bottom: 1px solid $dark-gray;

                    * {
                        float: left;
                    }

                    .delete {
                        &:hover {
                            color: $red;
                        }
                    }

                    label {
                        font-size: 18px;
                        line-height: 40px;
                        width: 237px;
                        padding: 0 0 0 11px;
                    }

                    input[type="checkbox"] {
                        margin: 0 10px;
                        position: relative;
                        top: 15px;
                    }

                    input[type=text] {
                        display: none;
                        width: 226px;
                    }

                    &.editMode {
                        input[type=text] {
                            display: block;
                        }

                        label {
                            display: none;
                        }
                    }
                }
            }

            p {
                button {
                    &:hover {
                        color: $green;
                    }
                }
            }

            #new-task-label {
                display: block;
                margin: 0 0 20px;
            }

            input#new-task {
                float: left;
                width: 318px;
            }

            li, h3 {
                clear: both;
                list-style: none;
            }

            input, button {
                outline: none;
            }

            h3, label[for='new-task'] {
                color: $dark-gray;
                font-weight: 700;
                font-size: 15px;
                border-bottom: 2px solid $dark-gray;
                padding: 30px 0 10px;
                margin: 0;
                text-transform: uppercase;
            }

            input[type="text"] {
                margin: 0;
                font-size: 18px;
                line-height: 18px;
                height: 18px;
                padding: 10px;
                border: 1px solid $light-gray;
                border-radius: 6px;
                color: $medium-gray;

                &:focus {
                    color: $dark-gray;
                }
            }

            #completed-tasks label {
                text-decoration: line-through;
                color: $medium-gray;
            }
        }
    }
}